body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.result-summary {
  display: flex;
  max-width: 600px;
}

.result {
  background: linear-gradient(to bottom, #7857ff, #2e2be9);
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  flex: 1;
}

.score-circle {
  background: linear-gradient(to bottom, #4e21ca, #2421ca);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score {
  font-size: 25px;
  font-weight: bold;
  color: black; 
  
}
.full-score
{
  color:gray;
}

.total {
  font-size: 16px;
  color: #ccc;
}

h2 {
  margin: 20px 0 10px;
}

p {
  color: #ccc;
  font-size: 14px;
}

.summary {
  padding: 30px;
  flex: 1;
}

h3 {
  margin-bottom: 20px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.category img {
  margin-right: 10px;
}

.reaction {
  background-color: #fff6f5;
  color: #f55;
}

.memory {
  background-color: #fffbf2;
  color: #ffb21e;
}

.verbal {
  background-color: #f2fbfa;
  color: #00bb8f;
}

.visual {
  background-color: #f3f3fd;
  color: #1125d4;
}

.continue-btn {
  width: 100%;
  padding: 15px;
  background-color: #303b5a;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.continue-btn:hover {
  background-color: #1c2541;
}